<nav id="navbarSolid" class="navbar navbar-fixed-top header-bar-container">
    <div class="header-bar-container-content-mobile">
        <button md-icon-button [mdMenuTriggerFor]="appMenu">
            <!--<md-icon class="optionsIcon" style="color: white;"></md-icon>-->
            <span class="glyphicon glyphicon-th-list header-bar-container-icon"></span>
        </button>
        <md-menu class="header-bar-container-content-mobile-menu" #appMenu="mdMenu" yPosition="below" xPosition="after">
            <button md-menu-item>
                <span></span>
            </button>
            <button md-menu-item (click)="gotoHomePage()">
                <span>Home</span>
            </button>
            <button md-menu-item (click)="gotoInteractiveMap()">
                <span>Interactive Map</span>
            </button>
            <button md-menu-item (click)="gotoMyPhotos()">
                <span>My Photos</span>
            </button>
            <button md-menu-item (click)="gotoAboutMe()">
                <span>About Me</span>
            </button>
            <button md-menu-item (click)="gotoMyEducation()">
                <span>My Interests</span>
            </button>
            <button md-menu-item (click)="gotoMyHobbies()">
                <span>My Hobbies</span>
            </button>
            <button md-menu-item (click)="gotoProgrammingBackground()">
                <span>Programming Background</span>
            </button>
        </md-menu>

       
    </div>
    <div class="header-bar-container-content">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4">
                        <a (click)="gotoInteractiveMap()" class="header-bar-container-icon" mdTooltip="My Travels"><span class="glyphicon glyphicon-globe"></span></a>
                    </div>
                    <div class="col-sm-4">
                        <a (click)="gotoMyPhotos()" class="header-bar-container-icon" mdTooltip="My Photos"><span class="glyphicon glyphicon-camera"></span></a>
                    </div>
                    <div class="col-sm-4">
                        <a (click)="gotoAboutMe()" class="header-bar-container-icon" mdTooltip="About Me"><span class="glyphicon glyphicon-user"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <a (click)="gotoHomePage()" class="header-bar-container-icon-home" mdTooltip="Home"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4">
                        <a (click)="gotoMyEducation()" class="header-bar-container-icon" mdTooltip="My Interests"><span class="glyphicon glyphicon-comment"></span></a>
                    </div>
                    <div class="col-sm-4">
                        <a (click)="gotoMyHobbies()" class="header-bar-container-icon" mdTooltip="My Hobbies"><span class="glyphicon glyphicon-headphones"></span></a>
                    </div>
                    <div class="col-sm-4">
                        <a (click)="gotoProgrammingBackground()" class="header-bar-container-icon" mdTooltip="Programming Background"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>