

<div class="footer-container">
  <div class="footer-container-content">
    <a class="footer-bar-container-icon" href="https://ca.linkedin.com/in/scott-belanger-384b9565" target="_blank" mdTooltip="Find me on LinkedIn"><img src="../../assets/images/footer/linkedIn.png"></a>
    <a class="footer-bar-container-icon" href="https://github.com/ScottBelanger" target="_blank" mdTooltip="Find me on Github"><img src="../../assets/images/footer/github.png"></a>
    <a class="footer-bar-container-icon" href="https://twitter.com/scottcbelanger" target="_blank" mdTooltip="Find me on Twitter"><img src="../../assets/images/footer/twitter.png"></a>
  </div>
</div>
