<app-header-bar></app-header-bar>

<div class="about-me-coverPhoto" style="background-image:url(../assets/images/aboutMeBackground.jpg);">
</div>

<div class="about-me-header">
  <div class="about-me-header-content">
    <div class="about-me-header-content-title">About Me</div>
    <hr class="about-me-header-content-underline">
  </div>
</div>

<div class="about-me-content">
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      I was born in Kingston, Ontario and grew up in a small town just outside of it called Yarker. I am half Chinese and the other
      half a mix of Irish, French and British.
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/kingston.png">
    </div>
  </div>
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      Throughout high school I was always interested in actuarial science however, after careful consideration I decided to attend
      Western University for engineering as it offered a general first year program. Through this program I discovered programming
      and enjoyed it so much that I decided to specialize in Software Engineering for my bachelors degree.
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/western.jpg">
    </div>
  </div>
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      After my 3rd year at Western, I decided to participate in a 15 month internship at IBM working on the WebSphere Extreme Scale
      Team. The team practiced agile development and worked on the Data Cache and Session Cache stream of IBM's Bluemix toolbox.
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/ibm.png">
    </div>
  </div>
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      I graduated in July 2016 from The University of Western Ontario in Software Engineering with a Professional internship at
      IBM. Currently I work as a full stack developer at Precima (customer analytics branch of Alliance Data Systems). I
      love delving into the latest technologies and enjoy a variety of extra-curriculars including sports, video games, reading,
      and travelling. I am highly passionate about front-end development, and really enjoy UX and UI design.
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/precima.png">
    </div>
  </div>
  <h2>Let's get to know each other</h2>
  <hr style="border: solid 1px black; width:50%">
  <p>scottcbelanger@gmail.com</p>
  <p>613-888-1390</p>
  <hr style="border: solid 1px black; width:50%">

</div>


<app-footer-bar></app-footer-bar>