<app-header-bar></app-header-bar>

<div class="about-me-coverPhoto" style="background-image:url(../assets/images/aboutMeBackground.jpg);">
</div>

<div class="about-me-header">
  <div class="about-me-header-content">
    <div class="about-me-header-content-title">{{ 'ABOUT_ME.TITLE' | translate }}</div>
    <hr class="about-me-header-content-underline">
  </div>
</div>

<div class="about-me-content">
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      {{ 'ABOUT_ME.KINGSTON_BLURB' | translate }}
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/kingston.png">
    </div>
  </div>
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      {{ 'ABOUT_ME.SCHOOL' | translate }}
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/western.jpg">
    </div>
  </div>
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      {{ 'ABOUT_ME.INTERNSHIP' | translate }}
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/ibm.png">
    </div>
  </div>
  <div class="about-me-content-bio">
    <div class="about-me-content-bio-blurb">
      {{ 'ABOUT_ME.GRADUATION' | translate }}
    </div>
    <div class="about-me-content-bio-photo">
      <img src="../../assets/images/aboutMe/precima.png">
    </div>
  </div>
  <h2>{{ 'ABOUT_ME.END_TITLE' | translate }}</h2>
  <hr style="border: solid 1px black; width:50%">
  <p>{{ 'ABOUT_ME.EMAIL' | translate }}</p>
  <p>{{ 'ABOUT_ME.PHONE_NUMBER' | translate }}</p>
  <hr style="border: solid 1px black; width:50%">

</div>


<app-footer-bar></app-footer-bar>