<app-header-bar></app-header-bar>

<div class="interactive-map-coverPhoto" style="background-image:url('../assets/images/mymapImageBackground.jpg'); ">
</div>

<div class="interactive-map-header">
  <div class="interactive-map-header-content">
    <div class="interactive-map-header-content-title">My Travel Map</div>
    <hr class="interactive-map-header-content-underline">
    <div class="interactive-map-header-content-blurb">Select a Country to see my photos</div>
  </div>
</div>

<div class="interactive-map-container">
  <div class="interactive-map-container-vmap" id="vmap">
  </div>
</div>



<div class="interactive-map-photos">
  <div class="photo-header">{{countrySelected}}</div>
  <div class="interactive-map-photos-container">
    <div class="interactive-map-photos-container-slot" [ngStyle]="{ 'background-image': 'url(' + slot1 + ')'}">
    </div>
    <div class="interactive-map-photos-container-slot" [ngStyle]="{ 'background-image': 'url(' + slot2 + ')'}">
    </div>
    <div class="interactive-map-photos-container-slot" [ngStyle]="{ 'background-image': 'url(' + slot3 + ')'}">
    </div>
  </div>
</div>



<app-footer-bar></app-footer-bar>