<app-header-bar></app-header-bar>


<div class="programming-background-coverPhoto" style="background-image:url(../assets/images/programmingBackground.jpg);">
</div>

<div class="programming-background-header">
    <div class="programming-background-header-content">
        <div class="programming-background-header-content-title">My Programming Background</div>
        <hr class="programming-background-header-content-underline">
    </div>
</div>

<div class="programming-background-content">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      I have been programming with Angular 2 for only a couple of months but it has been an amazing learning 
      experience. Angular is a very powerful framework that also has allowed me to extend my learning base to Typescript.
     
    </div>
    <div class="programming-background-content-alignRight-thumbnail"><img src="../assets/images/ProgrammingLanguages/Angular.png"></div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail"><img src="../assets/images/ProgrammingLanguages/nodejs.png"></div>
    <div class="programming-background-content-alignLeft-blurb">
      I have developed several projects using node js and javascript. During my internship at IBM, another
      intern and I designed and implemented a UI for script automation to assist in Data and Session
      Cache management. I also fully designed and developed a website for a small local business and another version of this personal
      website, all using node js, npm and javascript.

    </div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      Java is my strongest programming language as I have been using it for several years. I had many
      classes that required heavy use of Java and Eclipse, which taught me many principles regarding Object-Oriented Programming.
    </div>
    <div class="programming-background-content-alignRight-thumbnail"><img src="../assets/images/ProgrammingLanguages/Java.png"></div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail"><img src="../assets/images/ProgrammingLanguages/javascript.png"></div>
    <div class="programming-background-content-alignLeft-blurb">
      I am highly interested in front-end development, which has pushed me to continue learning as much
      as I can about Javascript. I have developed a number of websites and web applications using javascript.
    </div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      Typescript is the most recent programming language I have been trying out and have developed a few Angular sites using it over the last several months.
    </div>
    <div class="programming-background-content-alignRight-thumbnail"><img src="../assets/images/ProgrammingLanguages/typescript.png"></div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail"><img src="../assets/images/ProgrammingLanguages/html.png"></div>
    <div class="programming-background-content-alignLeft-blurb">
      Having developed many interfaces for school projects and during my internship, I have dealt a lot with
      HTML and have a high level of proficiency in it.
    </div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      Having built several web interfaces throughout my
      schooling and work terms, I have become very knowledgable in CSS.
    </div>
    <div class="programming-background-content-alignRight-thumbnail"><img src="../assets/images/ProgrammingLanguages/css3.png"></div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail"><img src="../assets/images/ProgrammingLanguages/bootstrap.png"></div>
    <div class="programming-background-content-alignLeft-blurb">
      Bootstrap is an extremely useful framework that allows for responsive web designs. I have used
      bootstrap for the majority of my web development projects and know a fair amount about it.
    </div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      I used SQL in a few courses at school and dealt with it for a large school
      project.
    </div>
    <div class="programming-background-content-alignRight-thumbnail"><img src="../assets/images/ProgrammingLanguages/sql.png"></div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail"><img src="../assets/images/ProgrammingLanguages/aws.png"></div>
    <div class="programming-background-content-alignLeft-blurb">
      Having built many interfaces, I have found that Amazon Web Services (AWS) is a very useful
      tool for hosting and connecting resources such as Relational Databases to servers.
    </div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      C++ was the first programming language I learned in school and was the language of choice for
      several of my courses.
    </div>
    <div class="programming-background-content-alignRight-thumbnail"><img src="../assets/images/ProgrammingLanguages/cplusplus.png"></div>
  </div>
  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail"><img src="../assets/images/ProgrammingLanguages/less.png"></div>
    <div class="programming-background-content-alignLeft-blurb">
      I have been building web applications for the past few years using CSS however, having recently started
      using the preprocessor language Less, I look forward to continuing my learning with preprocessor languages like
      LESS and SASS.
    </div>
  </div>
</div>


<app-footer-bar></app-footer-bar>