<app-header-bar></app-header-bar>


<div class="programming-background-coverPhoto" style="background-image:url(../assets/images/programmingBackground.jpg);">
</div>

<div class="programming-background-header">
  <div class="programming-background-header-content">
    <div class="programming-background-header-content-title">
      {{ 'PROGRAMMING.TITLE' | translate }}
    </div>
    <hr class="programming-background-header-content-underline">
  </div>
</div>

<div class="programming-background-content">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      {{ 'PROGRAMMING.ANGULAR' | translate }}
    </div>
    <div class="programming-background-content-alignRight-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/Angular.png">
    </div>
  </div>

  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/typescript.png">
    </div>
    <div class="programming-background-content-alignLeft-blurb">
      {{ 'PROGRAMMING.TYPESCRIPT' | translate }}
    </div>
  </div>

  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      {{ 'PROGRAMMING.JAVA' | translate }}
    </div>
    <div class="programming-background-content-alignRight-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/Java.png">
    </div>
  </div>

  <hr class="programming-background-content-separator">

  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/redux.png">
    </div>
    <div class="programming-background-content-alignLeft-blurb">
      {{ 'PROGRAMMING.REDUX' | translate }}
    </div>
  </div>

  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      {{ 'PROGRAMMING.AWS' | translate }}
    </div>
    <div class="programming-background-content-alignRight-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/javascript.png">
    </div>
  </div>

  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/aws.png">
    </div>
    <div class="programming-background-content-alignLeft-blurb">
      {{ 'PROGRAMMING.JAVSCRIPT' | translate }}
    </div>
  </div>

  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignRight">
    <div class="programming-background-content-alignRight-blurb">
      {{ 'PROGRAMMING.HTML' | translate }}
    </div>
    <div class="programming-background-content-alignRight-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/sassandless.png">
    </div>
  </div>

  <hr class="programming-background-content-separator">
  <div class="programming-background-content-alignLeft">
    <div class="programming-background-content-alignLeft-thumbnail">
      <img src="../assets/images/ProgrammingLanguages/html.png">
    </div>
    <div class="programming-background-content-alignLeft-blurb">
      {{ 'PROGRAMMING.CSS' | translate }}
    </div>
  </div>
</div>


<app-footer-bar></app-footer-bar>